.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .character-card {
    border: 1px solid white;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition: background-color 1s;
    cursor: pointer;
    filter: drop-shadow(0 0 0.5rem rgb(94, 5, 5));

  }
  .character-card h3 {
    filter: drop-shadow(0 0 0.5rem rgb(255, 0, 0));
  }
  .character-card p {
    border: 1px solid white;
    border-radius: 10px;
  }

  
  .character-card img {
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    height: auto;
  }
  .character-card:hover {
    border: 1px solid #646cffaa;
    filter: drop-shadow(0 0 1em #646cffaa);
    color: black;
    background: rgb(33, 215, 243); 
  }

  .character-card img:hover {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    height: auto;
  }